.tooltip-container {
    position: absolute;
    background: var(--secondary);
    min-width: 100px;
    max-width: 200px;
    min-height: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    user-select: none;

    span {
        color: var(--negative-text) !important;
    }
}
