<div class="content-wrapper">
    <div class="card product-search-inputs-wrapper flex-column-left-to-right gap10">
        <button class="primary-button">Buscar producto</button>
        <button class="secondary-button">Buscar producto</button>
        <input-type-text id="test" labelText="Esto es prueba" />
        <input type="date"/>
        <select>
            <option selected>Esto es una demo</option>
            <option>Esto es una demo</option>
            <option>Esto es una demo</option>
            <option>Esto es una demo</option>
        </select>
        <input type="checkbox"/>
        <input type="radio" name="test"/>
        <input type="radio" name="test"/>
        <button class="tertiary-button">Buscar producto</button>
    </div>
</div>