<div class="news-body">
    <app-home-header/>
    <div class="news-content-wrapper">
        <div class="news-content flex-row-center">
            <div class="posts-wrapper flex-row-center gap30">
                <div class="title">
                    <h2>Novedades en JPT</h2>
                </div>
                <news-post/>
                <news-post/>
                <news-post/>
                <news-post/>
                <news-post/>
                <news-post/>
            </div>
        </div>

        <div class="notices-content flex-row-center">
            <div class="notices-wrapper flex-row-center gap20">
                <div class="title">
                    <h2 style="top: -5px;">Últimos avisos</h2>
                </div>
                <notice />
                <notice />
                <notice />
            </div>
        </div>
    </div>
</div>