<div class="news-body">
    <app-home-header/>
    <div class="news-content-wrapper">
        <div class="news-content flex-row-center">
            <div class="posts-wrapper flex-row-center gap5">
                
                <div class="news-post-wrapper">

                </div>
                <div class="news-post-wrapper">

                </div>
                <div class="news-post-wrapper">

                </div>
            </div>
        </div>

        <div class="notices-content">

        </div>
    </div>
</div>