
.navigation-button {
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;

    &:focus-within {
        background: var(--secondary-transparency-10);             
    }

    &:focus  {
        background: var(--secondary-transparency-10);
    }

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 35px;
        padding: 0.3rem 0.5rem;
        position: relative;

        span:last-child {
            user-select: none;
            position: absolute;
            left: 0px;
            width: max-content;
            opacity: 0;
            &.pop-in-option-text-animation {
                animation: pop-in-option-text 0.2s ease forwards;
            }
            &.pop-out-option-text-animation {
                animation: pop-out-option-text 0.2s ease forwards;
            }
        }
    }
}


.active-navigation-button {
    background: var(--tertiary);
    animation: fadeIn 0.1s ease-out;
    animation: extend-right 0.15s ease-out;

    svg {

        fill: var(--primary);
    }

    span:last-child {
        color: var(--primary);
    }
}

.navigation-button:hover {    
    background: var(--secondary-transparency-10);
}

@keyframes extend-right {
    from {
        width: 20%;
    }
    to {
        width: 100%;
    }
}

@keyframes pop-out-option-text {
    from {
        left: 40px;
        opacity: 1;
    }
    to {
        left: 0px;
        opacity: 0;
    }
}

@keyframes pop-in-option-text {
    from {
        opacity: 0;
    }
    to {
        left: 40px;
        opacity: 1;
    }
}