.left-side-bar {
    width: 40px;
    height: calc(100vh - 40px);
    background: var(--tertiary-90);
    padding: 0.5rem;
    overflow: auto;
    overflow-x: hidden;
    display: flow;
    scrollbar-width: none;
}
