@import "themes";
@import "../public/animations.scss";
// Using Google SVG based fonts https://fonts.google.com/icons?selected=Material+Symbols+Outlined:settings:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=gear&icon.size=24&icon.color=%235f6368

@font-face {
    font-family: Montserrat;
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    scrollbar-color: var(--primary) var(--secondary-transparency-10);
    scrollbar-width: thin;
    font-size: 12px;
    font-family: "Montserrat";
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--background-color);
    transition: all 0.1s;
}



.icon {

    fill: var(--text);
    transition: fill 0.05s;
    transition-timing-function: ease-in;
}

a {
    color: var(--text);
}

a:active {
    color: var(--text);
}

::-webkit-scrollbar-track {
  background: var(--secondary-transparency-10);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-40);
}

.flex-row-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.flex-column-left-to-right {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

}

.gap5 { gap: 5px; }
.gap10 { gap: 10px; }
.gap20 { gap: 20px; }
.gap30 { gap: 30px; }
.gap40 { gap: 40px; }
.gap50 { gap: 50px; }
.gap60 { gap: 60px; }
.gap70 { gap: 70px; }
.gap80 { gap: 80px; }
.gap90 { gap: 90px; }
.gap100 { gap: 100px; }

.card {
  background: var(--tertiary);
  border-radius: 0.4rem;
  -webkit-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.1);
}

.primary-button, button {
  background: var(--primary);
  color: var(--tertiary);
  border-radius: 100px;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  min-width: 70px;

  &:hover {
    background: var(--primary-80);
  }

  &:active {
    background: var(--primary-70);
  }

  &:focus-visible { 
    outline: 2px solid var(--secondary-20);
  }
}

.secondary-button {
  background: var(--tertiary);
  color: var(--primary);
  border-radius: 100px;
  border: 2px solid var(--primary);
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s;
  min-width: 70px;

  &:hover {
    background: var(--primary);
    color: var(--tertiary);
  }

  &:active {
    transition: none;
    background: var(--primary-70);
    border: 2px solid var(--primary-70);
  }
}

.tertiary-button {
  color: var(--primary);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50px;
  transition: background 0.2s;
  min-width: 70px;

  &:hover {
    background: var(--secondary-transparency-10);
  }

  &:active {
    transition: none;
    background: var(--secondary-transparency-20);
  }
}

input {
  border-radius: 50px;
  border: 2px solid var(--secondary-30);
  padding: 6px 10px;
  background: var(--tertiary);
  color: var(--text);

  &:active {
    border: 2px solid var(--primary);
  }

  &:focus-visible { 
    outline: none;
    border: 2px solid var(--primary);
  }

}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  padding: 0;
  accent-color: var(--primary);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--secondary-30);
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  transition: accent-color 0.1s;

  &:active {
    accent-color: var(--primary-60);
  }
  &:focus-visible { 
    border: 2px solid var(--primary);
    accent-color: var(--primary-60);
  }

  &:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
  }
}

input[type='date'] {
  padding: 2px 8px;
  background: var(--tertiary);

  &:focus-visible { 
    outline: none;
    border: 2px solid var(--primary);
  }
}
::-webkit-calendar-picker-indicator {
  color: var(--disabled-text);
  opacity: 1;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000" fill-opacity=".54" height="30" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
  font-size: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

select {
  border: 2px solid var(--secondary-20);
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;

  &:focus-visible { 
    outline: none;
    border: 2px solid var(--primary);
  }

}

input[type='radio'] {
  accent-color: var(--primary);
  background: var(--tertiary);
}