.toast-wrapper {
    width: 350px;
    height: 70px;
    padding: 5px;
    border-radius: 0.5rem;
    position: relative;
    pointer-events: auto;
}

.icon-wrapper {

    svg {
        
        user-select: none;
    }
    
}

.text-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
    }
}

.button-wrapper {


    svg {
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        user-select: none;

        &:hover {
            background: var(--secondary-transparency-10);
        }
    }
}

.warning {
    background: var(--warning-background);
    svg {
        fill: var(--warning-color);
    }
    span {
        color: var(--warning-color);
    }
}

.error {
    background: var(--error-background);
    svg {
        fill: var(--error-color);
    }
    span {
        color: var(--error-color);
    }
}

.success {
    background: var(--success-background);
    svg {
        fill: var(--success-color);
    }
    span {
        color: var(--success-color);
    }
}

.info {
    background: var(--info-background);
    svg {
        fill: var(--info-color);
    }
    span {
        color: var(--info-color);
    }
}

.secondary {
    background: var(--primary-5);
    svg {
        fill: var(--primary);
    }
    span {
        color: var(--primary);
    }
}

.contrast {
    background: var(--secondary);
    svg {
        fill: var(--negative-text);
    }
    span {
        color: var(--negative-text);
    }

    .close-toast-button:hover {
        background: var(--tertiary-transparency-10);
    }
}

.toast-leave {
    animation: toast-leave-animation 0.5s both;
}

@keyframes toast-leave-animation{
    0% {
        right: 0px;
    }
    25% {
        opacity: 1;
        right: 10px;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        right: -200px;
    }
}